@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

@layer components {
  .container {
    @apply max-w-6xl mx-auto px-4;
  }
}

#nprogress .bar {
  background: #7E1E29 !important;
  height: 5px !important;
}